<div style="background: {{color}}">
  <form [formGroup]="gameForm" (submit)="submitForm()">

    <label>Your name:</label>
    <input name="name" type="text" formControlName="email"/>
    <div *ngIf="gameForm.controls.email.touched && gameForm.controls.email.valid === false">
      Incorrect name
    </div>

    <br/>

    <label>Your token:</label>
    <input  name="token" type="text" formControlName="token"/>
    <div *ngIf="gameForm.controls.token.touched && gameForm.controls.token.valid === false">
      Token required
    </div>

    <br/>

    <button type="submit" [disabled]="!gameForm.valid">
      Start
    </button>
  </form>
</div>
