<button (click)="closeGame()">EXIT</button>
<hr/>
Hello <strong>{{ playerData.name }}</strong> <br/>
<app-score [score]="points"></app-score>
<hr/>
<tetris-core #game
             (lineCleared)="onLineCleared()"></tetris-core>

<button (click)="game.actionStart()">Start</button>
<button (click)="game.actionStop()">Stop</button>
<button (click)="game.actionReset()" >Reset</button>
<button (click)="game.actionRotate()">Rotate</button>
<button (click)="game.actionLeft()">Left</button>
<button (click)="game.actionRight()">Right</button>
<button (click)="game.actionDown()">Down</button>
<button (click)="endGame()">End game</button>
<br>
<button (click)="sortPlayers()">Sort</button>
<div *ngFor="let player of data, let i = index">
    <div *ngIf="i < 10">
        <b>{{i+1}}. </b> <span>{{player.name}} {{player.score}}</span>
    </div>
</div>
